/* component/layout/Loader/Loader.css */

.loader {
  position: relative;
  width: 80px;
  height: 80px;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: #16a34a;
  border-right-color: #16a34a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  animation: spin 2s linear infinite;
}

.middle {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive design */
@media (max-width: 640px) {
  .loader {
    width: 60px;
    height: 60px;
  }

  .outer {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
  }

  .middle {
    width: 35px;
    height: 35px;
    margin-left: -17.5px;
    margin-top: -17.5px;
  }

  .inner {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }
}
