/* NotificationBanner.css */
.notification-banner {
  background-color: rgb(224 231 255);
  border-bottom: 1px solid rgb(199 210 254); /* border-indigo-200 */
  color: green; /* text-indigo-700 */
  padding: 0.5rem; /* px-4 py-3 */
  position: relative;
  overflow: hidden;
}

.sliding-background {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: translateX(-100%);
  animation: slide 3s linear infinite;
}

.notification-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-text-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.text-wrapper {
  width: 100%;
  overflow: hidden;
}

.scrolling-text {
  white-space: nowrap;
  user-select: none;
}

.scrolling-text.scrolling {
  animation: marquee 25s linear infinite;
}

.scrolling-text.paused {
  animation: none;
}

/* Keyframes for marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Keyframes for sliding background */
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
